In [17]:
# Import Dependencies

import pandas as pd

In [18]:
# Load first set of tweet data from 2010-2017 from the csv file

csv_file = "Resources/ElonTweets_2010-2017.csv"
tweet_data_2010_df = pd.read_csv(csv_file)
tweet_data_2010_df

,id,created_at,text
0,849636868052275200,2017-04-05 14:56:29,b'And so the robots spared humanity ... https:...
1,848988730585096192,2017-04-03 20:01:01,"b""@ForIn2020 @waltmossberg @mims @defcon_5 Exa..."
2,848943072423497728,2017-04-03 16:59:35,"b'@waltmossberg @mims @defcon_5 Et tu, Walt?'"
3,848935705057280001,2017-04-03 16:30:19,b'Stormy weather in Shortville ...'
4,848416049573658624,2017-04-02 06:05:23,"b""@DaveLeeBBC @verge Coal is dying due to nat ..."
...,...,...,...
2814,142881284019060736,2011-12-03 08:22:07,b'That was a total non sequitur btw'
2815,142880871391838208,2011-12-03 08:20:28,"b'Great Voltaire quote, arguably better than T..."
2816,142188458125963264,2011-12-01 10:29:04,b'I made the volume on the Model S http://t.co...
2817,142179928203460608,2011-12-01 09:55:11,"b""Went to Iceland on Sat to ride bumper cars o..."
2818,15434727182,2010-06-04 18:31:57,"b'Please ignore prior tweets, as that was some..."

In [19]:
# Split the created_at column into Date and Time columns

tweet_data_2010_df[['Date','Time']] = tweet_data_2010_df.created_at.str.split(" ",expand=True,)
tweet_data_2010_df.rename(columns={'text':'Tweet'}, inplace=True)
tweet_data_2010_df

,id,created_at,Tweet,Date,Time
0,849636868052275200,2017-04-05 14:56:29,b'And so the robots spared humanity ... https:...,2017-04-05,14:56:29
1,848988730585096192,2017-04-03 20:01:01,"b""@ForIn2020 @waltmossberg @mims @defcon_5 Exa...",2017-04-03,20:01:01
2,848943072423497728,2017-04-03 16:59:35,"b'@waltmossberg @mims @defcon_5 Et tu, Walt?'",2017-04-03,16:59:35
3,848935705057280001,2017-04-03 16:30:19,b'Stormy weather in Shortville ...',2017-04-03,16:30:19
4,848416049573658624,2017-04-02 06:05:23,"b""@DaveLeeBBC @verge Coal is dying due to nat ...",2017-04-02,06:05:23
...,...,...,...,...,...
2814,142881284019060736,2011-12-03 08:22:07,b'That was a total non sequitur btw',2011-12-03,08:22:07
2815,142880871391838208,2011-12-03 08:20:28,"b'Great Voltaire quote, arguably better than T...",2011-12-03,08:20:28
2816,142188458125963264,2011-12-01 10:29:04,b'I made the volume on the Model S http://t.co...,2011-12-01,10:29:04
2817,142179928203460608,2011-12-01 09:55:11,"b""Went to Iceland on Sat to ride bumper cars o...",2011-12-01,09:55:11
2818,15434727182,2010-06-04 18:31:57,"b'Please ignore prior tweets, as that was some...",2010-06-04,18:31:57

In [21]:
# Narrow the dataset down to three columns: Date, Time. and Tweet. Remove the extraneous first and last characters that appears in the Tweet column

tweet_data_2010_df = tweet_data_2010_df[["Date","Time", "Tweet"]].copy()
tweet_data_2010_df['Tweet'] = tweet_data_2010_df['Tweet'].str[2:-1]
tweet_data_2010_df
tweet_data_2010_df.dtypes

Date     object
Time     object
Tweet    object
dtype: object

In [22]:
# Load second set of tweet data from 2017-2020 from the json file

import json
tweet_list = []
with open("Resources/ElonTweets_2017-2020.jsonl") as json_file:
    json_list = list(json_file)
for json_str in json_list:
    result = json.loads(json_str)
    text = result
    tweet_list.append(text)

In [23]:
# Create a tweet_text list to isolate only the tweet text of each row
tweet_text = []
for tweet in tweet_list:
    tweet_text.append(tweet['Text'])

In [24]:
# Create a date_time list to isolate when each tweet was created
date_time = []
for tweet in tweet_list:
    date_time.append(tweet["CreatedAt"])

In [25]:
# Create a date and time list to separate the date and time for each tweet
date = []
time = []
for x in date_time:
    dt = x
    d,t = dt.split(" at ")
    date.append(d)
    time.append(t)

In [26]:
# Create a tweet list that breaks each tweet into an individual list item
tweet = []
for y in tweet_text:
    text = y
    tweet.append(text)

In [60]:
# Combine Date, Time, and Tweet Column into one table

tweet_data_2017_df = pd.DataFrame({'Date':date,'Time':time,'Tweet':tweet})
tweet_data_2017_df

,Date,Time,Tweet
0,"December 02, 2017",07:33PM,@highqualitysh1t I love the thought of a car d...
1,"December 02, 2017",10:46PM,@novaspivack Asimov's Foundation books should ...
2,"December 03, 2017",12:01AM,@novaspivack That's certainly the right way to...
3,"December 03, 2017",07:05PM,To preserve the transcendent majesty &amp; spe...
4,"December 03, 2017",07:07PM,@harrisonlingren @JW8888888 Busted
...,...,...,...
7687,"May 26, 2020",01:03AM,@RealClearNews Worth reading
7688,"May 26, 2020",05:21AM,RT @ScienceChannel: Strap yourself into the @S...
7689,"May 26, 2020",07:58AM,@RealClearNews Good question https://t.co/8jpu...
7690,"May 26, 2020",01:56PM,RT @SpaceX: Falcon 9 and Crew Dragon will lift...
7691,"May 26, 2020",04:14PM,@lexfridman @SpaceX @NASA Thanks Lex!

In [61]:
# Convert Date format to YYYY-MM-DD and Time format to 24 hr so that the format matches the previous dataset

from datetime import datetime
tweet_data_2017_df['Date'] = pd.to_datetime(tweet_data_2017_df['Date']).dt.strftime('%Y-%m-%d')
tweet_data_2017_df['Time'] = pd.to_datetime(tweet_data_2017_df['Time']).dt.strftime('%H:%M:%S')
tweet_data_2017_df.dtypes

Date     object
Time     object
Tweet    object
dtype: object

In [62]:
# Combine both tables into one dataset for all tweets from 2010-2020 and drop any duplicates
combined_tweets = pd.concat([tweet_data_2017_df, tweet_data_2010_df])
combined_tweets = combined_tweets.drop_duplicates()
combined_tweets

            Date      Time                                              Tweet
0     2017-12-02  19:33:00  @highqualitysh1t I love the thought of a car d...
1     2017-12-02  22:46:00  @novaspivack Asimov's Foundation books should ...
2     2017-12-03  00:01:00  @novaspivack That's certainly the right way to...
3     2017-12-03  19:05:00  To preserve the transcendent majesty &amp; spe...
4     2017-12-03  19:07:00                 @harrisonlingren @JW8888888 Busted
...          ...       ...                                                ...
2814  2011-12-03  08:22:07                     at was a total non sequitur bt
2815  2011-12-03  08:20:28  eat Voltaire quote, arguably better than Twain...
2816  2011-12-01  10:29:04  made the volume on the Model S http://t.co/wMC...
2817  2011-12-01  09:55:11  nt to Iceland on Sat to ride bumper cars on ic...
2818  2010-06-04  18:31:57  ease ignore prior tweets, as that was someone ...

[10493 rows x 3 columns]

In [63]:
# Export to CSV
combined_tweets.to_csv('Resources/ElonTweets_Cleaned.csv')